// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// *************** SCSS PAGES *************************************************************************************

@import 'home.scss';

@import 'infos.scss';


// ----------------- PAGE INDEX ------------------------------------------------------------------

// .bienvenue {
//     color: $bleuet;
//     font-weight: bold;
// }
// .btnsConnexionInscription {
//     color: $blanc;
//     background-color: $bleuet;
// }

// ----------------- NAVBAR ------------------------------------------------------------------

.navbar {
    background-color: $bleuet;
}

.navbar a {
    text-decoration: none;
    color: $blanc;
} 

.navbar a .nomDuSite {
    font-weight: bold;
    font-size: 40px;
}

// .navbar a .dropdown-item {
//     color: $bleuet;
// }
