// *************************** POSTER UN SHOW IT *******************************************
.postShowIt {
    border: outset 2px;
    border-color: $bleuet;
    border-radius: 20px;
}

.card .postShowItHeader {
    background-color: $bleuet;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.postShowItHeader h1 {
    color: $blanc;
    font-size: 25px;
    font-weight: bold;
}

// *************************** BOUTONS *******************************************
.btnsShowIt {
    font-size: 15px;
    font-weight: bold;
    border: outset 2px;
}

.btnsShowIt:hover {
    transform: scale(1.2);
    transition: 1.5s;
}

.btnsZoomShowIt {
    width: 250px;
    background-color: $blue;
    color: $blanc;
    border-color: $blanc;
    border-radius: 15px;
}

.btnsZoomShowIt:hover {
    background-color: $blanc;
    color: $blue;
    border-color: $blue;
}

.btnPostShowIt {
    width: 130px;
    background-color: $bleuet;
    color: $blanc;
    border-color: $blanc;
    border-radius: 15px;
}

.btnPostShowIt:hover {
    background-color: $blanc;
    color: $bleuet;
    border-color: $bleuet;
}

.btnsCommentShowIt {
    width: 130px;
    background-color: $bleuet;
    color: $blanc;
    border-color: $blanc;
    border-radius: 15px;
}

.btnsCommentShowIt:hover {
    background-color: $blanc;
    color: $bleuet;
    border-color: $bleuet;
}

.btnsModifShowIt {
    width: 130px;
    background-color: $jaurange;
    color: $blanc;
    border-color: $blanc;
    border-radius: 20px;
}

.btnsModifShowIt:hover {
    background-color: $blanc;
    color: $jaurange;
    border-color: $jaurange;
}

.btnsSupprShowIt {
    width: 130px;
    background-color: $red;
    color: $blanc;
    border-color: $blanc;
    border-radius: 15px;
}

.btnsSupprShowIt:hover {
    background-color: $blanc;
    color: $red;
    border-color: $red;
}

.btnsShowComments {
    width: 250px;
    background-color: $blue;
    color: $blanc;
    border-color: $bleuet;
    border-radius: 15px;
}

.btnsShowComments:hover {
    background-color: $blanc;
    color: $blue;
    border-color: $blue;
}

// *************************** AFFICHAGE DES SHOW IT *******************************************
.showShowIts {
    border: outset 2px;
    border-color: $bleuet;
    border-radius: 20px;
}

.card .showShowItsHeader {
    color: $blanc;
    font-weight: bold;
    font-size: 17px;
    background-color: $bleuet;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.showShowIts p {
    color: $bleuet;
}

.card .footerShowIts {
    background-color: $bleuet;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

// *************************** AFFICHER LES COMMENTAIRES *******************************************
.showComments {
    border-color: $bleuet;
    border-radius: 20px;
}

.card .showCommentsHeader {
    border-color: $bleuet;
    color: $bleuet;
    font-size: 15px;
    font-weight: bold;
    background-color: $blanc;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.showCommentsFooter {
    border-color: $bleuet;
}

  /* ======================================================================
                MEDIA QUERIES
====================================================================== */

@media screen and (max-width: 575px) {
    .btnsShowComments {
        width: 200px;
    }
}