.bienvenue {
    color: $bleuet;
    font-weight: bold;
}
.btnsConnexionInscription {
    color: $blanc;
    background-color: $bleuet;
    border: outset 2px;
    border-color: $blanc;
    border-radius: 20px;
}

.btnsConnexionInscription:hover {
    transform: scale(1.2);
    transition: 1.5s;
    background-color: $blanc;
    color: $bleuet;
    border-color: $bleuet;
}