// ----------------- PAGE INDEX ------------------------------------------------------------------
.bienvenue {
    color: $bleuet;
    font-weight: bold;
}

// ----------------- BTNS PAGE INDEX / LOGIN / REGISTER ------------------------------------------------------------------
.btnsConnexionInscription {
    color: $blanc;
    font-weight: bold;
    background-color: $bleuet;
    border: outset 2px;
    border-color: $blanc;
    border-radius: 15px;
}

.btnsConnexionInscription:hover {
    transform: scale(1.2);
    transition: 1.5s;
    background-color: $blanc;
    color: $bleuet;
    border-color: $bleuet;
}
