// ----------------- PAGE LOGIN / REGISTER ------------------------------------------------------------------
.formulaireConnexionInscription {
    border: outset 2px;
    border-color: $bleuet;
    border-radius: 20px;    
}

.card .enTeteConnexionInscription {
    color: $blanc;
    font-weight: bold;
    font-size: 25px;
    background-color: $bleuet;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}